@inherits LayoutComponentBase
<div class="page">
	<div class="sidebar">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKsYhCmzeAVBf9I4TWYHC8lB8b_TicQ-LE956CpkxoIaXhdYB8ObN_ZRUCrq3nKH2QLRQ&amp;usqp=CAU" width="100%">
		<NavMenu/>
	</div>

    <main>
        <div class="top-row p-1 opacity-75">
            <a href="https:\\www.intelix.mx" target="_blank">Intelix</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
