@inject SweetAlertService Swal
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Prospección de Aspirantes a Socios</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div>
            <AuthorizeView>
                <Authorized>
                    <NavLink class="navbar-text text-white">
                        <i class="bi bi-person-circle me-1"></i> @context.User.Identity!.Name
                    </NavLink>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="Personas">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Personas
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="Prospectar">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Prospectar
                        </NavLink>
                    </div>
                    <button class="btn btn-outline-info" @onclick="CerrarSesion"><i class="bi bi-door-open me-1"></i>Salir</button>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="btn btn-outline-info" href="account/login"><i class="bi bi-box-arrow-in-right me-1"></i>Ingresar</NavLink>
                    <NavLink class="btn btn-outline-info" href="account/register"><i class="bi bi-person-add me-1"></i>Registrarse</NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task CerrarSesion()
    {
        var result = await Swal.FireAsync(new SweetAlertOptions()
            {
                Title = "Desea salir?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                ConfirmButtonText = "Sí",
                CancelButtonText = "Por ahora no"
            });

        if (result.IsConfirmed)
        {
            var auth = (AuthenticationService)AuthenticationStateProvider;
            await auth.Authenticate(null);
            NavigationManager.NavigateTo("/", forceLoad: true);
        }
    }
}
